<p><%= @user.profile.family_name %> 様</p>
<br/>
<p>PIST6オフィシャルサイトをご利用いただき、誠にありがとうございました。<br/>会員の退会手続きが完了しましたので、お知らせいたします。</p>
<p>またの機会がございましたら、ご利用のほどよろしくお願いいたします。</p>
<p>
	※本メールは自動返信メールとなっております。本メールにご返信いただいてもご連絡いたしかねますのでご了承ください。<br/>
	※本メールにお心当たりがない場合は下記よりご連絡ください。<br/>
	support@ml.pist6.co.jp
</p>
<p>
	─────────────────────────────────<br/>
	PIST6オフィシャルサイト：<%= link_to "https://pist6.com/top", "https://pist6.com/top" %><br/> 
	─────────────────────────────────<br/>
	Copyright(C) JPF Co., Ltd.
</p>
