<p>PIST6オフィシャルサイトに会員登録いただき、誠にありがとうございます。</p>
<p>ご本人様確認のため、下記URLへ24時間以内にアクセスいただき、本登録を完了させてください。</p>
<p><%= link_to @url, @url %></p>
<p>
  ※URLが途中で改行されアクセスできない場合があります。その場合は、最初の「https://」から末尾の英数字までをブラウザに直接コピー＆ペーストしてアクセスしてください。<br/>
  ※本メールのURLは送信後、24時間を超えると有効期限切れとなります。その場合は、マイページより確認メールの再送信をお願いいたします。<br/>
  ※本メールは自動返信メールとなっております。本メールにご返信いただいてもご連絡いたしかねますのでご了承ください。<br/>
  ※本メールにお心当たりがない場合は下記よりご連絡ください。<br/>
  support@ml.pist6.co.jp
</p>
<p>
  ─────────────────────────────────<br/>
  PIST6オフィシャルサイト：<%= link_to "https://pist6.com/top", "https://pist6.com/top" %><br/>
  ─────────────────────────────────<br/>
  Copyright(C) JPF Co., Ltd.
</p>