<p>PIST6オフィシャルサイトへの本登録が完了いたしました。</p>
<p>チケットの購入や譲渡ができるほか、購入したチケット情報はマイページにてご確認いただけます。</p>
<p>▼チケットの購入はこちら</p>
<p><%= link_to @ticket_url, @ticket_url %></p>
<p>▼マイページはこちら（ログイン後に閲覧可能）</p>
<p><%= link_to @url, @url %></p>
<p>
	※本メールは自動返信メールとなっております。本メールにご返信いただいてもご連絡いたしかねますのでご了承ください。<br/>
	※本メールにお心当たりがない場合は下記よりご連絡ください。<br/>
	support@ml.pist6.co.jp
</p>
<p>
	─────────────────────────────────<br/>
	PIST6オフィシャルサイト：<%= link_to "https://pist6.com/top", "https://pist6.com/top" %><br/>
	─────────────────────────────────<br/>
	Copyright(C) JPF Co., Ltd.
</p>
