<p>
  観戦チケットの譲渡が完了しました。
</p>

<p>■譲渡情報</p>
<p>
  -------------------------------------------------<br/>
  ・開催日：<%= @event_date %><br/>
  ・デイ/ナイト：<%= @day_night %><br/>
  ・シートタイプ：<%= @seat_type %><br/>
  -------------------------------------------------
</p>

<p>
  ※譲渡が完了したチケットは、その後譲渡を取り消すことはできませんのでご注意ください。<br/>
  ※本メールは自動返信メールとなっております。本メールにご返信いただいてもご連絡いたしかねますのでご了承ください。<br/>
  ※本メールにお心当たりがない場合は下記よりご連絡ください。<br/>
  support@ml.pist6.co.jp
</p>
<p>
	─────────────────────────────────<br/>
	PIST6オフィシャルサイト：<%= link_to "https://pist6.com/top", "https://pist6.com/top" %><br/> 
	─────────────────────────────────<br/>
	Copyright(C) JPF Co., Ltd.
</p>
